body {
    margin-top: 0;
    margin: 50px;
}

header {
    margin-bottom: 64px;
}

h1 {
    font-size: 48px;
    color: rgb(71, 62, 62);
    margin: 0;
}

a {
    padding: 12px 48px;
    background-color: rgb(167, 1, 78);
    color: white;
    border-radius: 4px;
    font-size: 24px;
    border: 1px solid rgb(167, 1, 78);
    display: inline-block;
    margin: 0;
}

a:hover {
    background-color: rgb(180, 12, 90);
    text-decoration-line: none;
}

li {
    background-color: rgb(223, 136, 124);
    margin: 36px auto 0 auto;
    padding: 16px;
    width: 500px;
    border-radius: 6px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
    list-style-type: none;
}

header p {
    margin-bottom: 12px;
}

h2 {
    color: rgb(78, 13, 5);
}

main p {
    margin: 12px;
    color: rgb(71, 29, 22);
}

.highlighted-goals {
    background-color: rgb(226, 115, 101);
}